<div class="container">
    <h1 id="title">ui-responsive-toolkit</h1>
    <h2>Responsive tools for your Ember app</h2>
    
    <div class="col-xs-3">
      <img src='/images/tomster-construction.png'>
    </div>
    <div class="col-xs-9">
      <p>&nbsp;</p>
      <ul>
        <li><a href="">GitHub Repo</a></li>
        <li><a href="tests?nocontainer">Unit tests</a></li>
      </ul>      
    </div>
</div>

